<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>葫芦娃</title>
    <meta name="description" content="葫芦娃">
    <meta name="keywords" content="葫芦娃">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="../css/style.css">-->
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .el-header, .el-footer {
            text-align: left;

        }
        html,body {
            margin: 0;
        }
        .el-aside {
            text-align: center;
            line-height: 200px;
        }
        .el-main{
            padding-top: 10px;
        }

    </style>
</head>
<body>
<div id="app">
    <el-container >
        <el-header style="height: 60px;background-image: url(../img/header.png)">

<!--            logo-->
            <el-col :span="3" offset="11"><div style="line-height: 60px;"  class="grid-content bg-purple">
                    <a href="hlw_show.html" style="text-decoration:none;color:#000;" target="right">
                <el-col :span="8" offset="6">
                    <span style="line-height: 60px;font-size: 30px;color: #0abdfe">HLW</span>
                </el-col>
                    <el-col :span="6">
                        <span>
                            <img src="../img/hlw_logo.png" style="height: 60px">
                        </span>
                    </el-col>
                    </a>
            </div>
            </el-col>
<!--            用户      -->
            <el-col :span="2" :offset="8">
                <el-dropdown>
                        <span class="el-dropdown-link">
                          <div style="line-height: 60px;  height: 60px; "  class="grid-content bg-purple "><img style=" height: 50px;width: 50px; border-radius: 25px; vertical-align: middle" :src="headshot">
                          <span>kong</span>
                      </div>
                     </span>
                    <el-dropdown-menu slot="dropdown">
                        <a style="text-decoration:none;color:#000;" href="mytrade.html"  target="right"><el-dropdown-item>个人中心</el-dropdown-item></a>
                        <el-dropdown-item  @click.native="dialogFormVisible = true">修改密码</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-circle-plus>" divided @click.native="exit">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
<!-- 修改密码-->
            <div class="update-password" >
                <el-dialog   title="修改密码" :visible.sync="dialogFormVisible" width="26%" class="el-dialog--center">
                    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px"  class="demo-ruleForm">
                        <el-form-item label="账号" prop="userId">
                            <el-input type="text" v-model="ruleForm.userId" disabled="disabled"></el-input>
                        </el-form-item>
                        <el-form-item label="当前密码" prop="pass">
                            <el-input type="password" v-model="ruleForm.pass" ></el-input>
                        </el-form-item>
                        <el-form-item label="新密码" prop="newPass">
                            <el-input type="password" v-model="ruleForm.newPass" ></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="confirmPass">
                            <el-input type="password" v-model="ruleForm.confirmPass"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                            <el-button @click="dialogFormVisible = false; ruleForm.pass=''; ruleForm.newPass=''; ruleForm.confirmPass='';">取消</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>


        </el-header>
        <el-container>
            <el-aside width="220px">
                <el-row class="tac">
                    <el-col :span="24">
                        <h5 style="height: 30px; ">
                            <li class="el-icon-menu "  style="font-size: 35px"></li>
                        </h5>
                        <el-menu
                                default-active="1"
                                class="el-menu-vertical-demo"
                                @open="handleOpen"
                                @close="handleClose">
                            <el-menu-item  index="1"  style="font-size: 21px;text-align: center">
                                <template slot="title" >
<!--                                    <i  class=" "></i>-->
                                    <a style="text-decoration:none;color:#000;" href="hlw_show.html" target="right"><span>首页</span></a>
                                </template>
                            </el-menu-item>
                            <el-submenu v-for="menu in menuList" :index="menu.path" >
                                <template slot="title" style="font-size: 18px">
                                    <i  :class="menu.icon"></i>
                                    <span >{{menu.title}}</span>
                                </template>
                                <el-menu-item-group v-for="child in menu.children">
                                    <el-menu-item :index="child.path">
                                        <a :href="child.linkUrl" style="text-decoration:none;color:#000;" target="right">{{child.title}}</a>
                                        </el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-container>
                <iframe name="right" class="el-main" src="hlw_show.html" width="100%" height="908.5px"></iframe>
            </el-container>
        </el-container>
    </el-container>
</div>

    <script>
        new Vue({
           el : '#app',
          data : {
              headshot: '',
              dialogFormVisible: false,
              ruleForm:{
                  userId:'123',
                  pass:'',
                  newPass:'',
                  confirmPass:'',
              },
              rules: {//校验规则
                  userId: [{ required: true, message: '不可为空', trigger: 'blur' }],
                  pass: [
                      { required: true, message: '不可为空', trigger: 'blur' },
                      {min: 6, max: 16, message: '请输入3到16位的密码', trigger: 'blur'}
                  ],
                  newPass: [
                      { required: true, message: '不可为空', trigger: 'blur' },
                      {min: 6, max: 16, message: '请输入3到16位的密码', trigger: 'blur'}
                  ],
                  confirmPass: [
                      { required: true, message: '不可为空', trigger: 'blur' },
                      {min: 6, max: 16, message: '请输入3到16位的密码', trigger: 'blur'},
                      {
                          message: '两次密码不一致',
                          trigger: 'blur',
                          transform(value) {
                              if(value !== this.ruleForm.newPass){
                                  callback(new Error('两次输入密码不一致!'));
                              }else {
                                  return String(value)
                              }
                          }
                      }
                  ]
              },
              menuList : [
                  {
                      "path": "2",
                      "title": "我要卖货",
                      "icon":"el-icon-goods",
                      "children": [
                          {
                              "path": "2.1",
                              "title": "发布商品",
                              "icon":"",
                              "linkUrl": "upload.html",
                          },
                          {
                              "path": "2.2",
                              "title": "成为卖家",
                              "icon":"",
                              "linkUrl": "seller.html",
                          },
                      ]
                  },
                  {
                      "path": "3",
                      "title": "联系我们",
                      "linkUrl": "javascript:void(0)",
                      "icon":"el-icon-phone-outline",
                      "children": [{
                          "path": "3.1",
                          "title": "联系我们",
                          "icon":"",
                          "linkUrl": "hlw_tellus.html",
                      },{
                          "path": "3.2",
                          "title": "充值",
                          "icon":"",
                          "linkUrl": "hlw_recharge.html",
                      },

                      ]
                  },
              ]
          },
            created(){
               alert(1);
              axios.get("/user/showHeadshot").then((res)=>{
                  this.headshot = res.data.data;
              });
            },
            methods : {
                postNewPass(){
                    axios.get('/user/modifyPass?newPass=' + this.ruleForm.newPass, {}).then((res) => {
                        this.$message({
                            message:res.data.message,
                            type:'success'
                        });
                    });
                    this.dialogFormVisible = false;
                },
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {  //开启校验
                        if (valid) {   // 如果校验通过，请求接口，允许提交表单
                            this.postNewPass();
                        } else {   //校验不通过
                            return false;
                        }
                    });
                },
               exit(){
                   alert("1");
                   axios.get("/user").then((res)=>{
                      alert(res);
                   });
               },

            }
        });
    </script>
</body>
</html>