<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>葫芦娃</title>
    <meta name="description" content="葫芦娃">
    <meta name="keywords" content="葫芦娃">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <style>
        .el-header, .el-footer {
            /*background-color: #B3C0D1;*/
            /*color: #333;*/
            text-align: left;

        }
        html,body {
            /* overflow-y: scroll; */
            margin: 0;
        }
        .el-aside {
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 748px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="height: 60px;">
            <el-col :span="3"><div style="line-height: 60px;"  class="grid-content bg-purple">
                <el-page-header  content="详情页面">详情页面
                </el-page-header>
            </div>
            </el-col>
            <el-col :span="2" :offset="18"><div style="line-height: 60px;  height: 60px; "  class="grid-content bg-purple "><img style=" height: 50px;width: 50px; border-radius: 25px; vertical-align: middle" src="../img/bg.jpg">
            <span>kong</span>
            </div>
            </el-col>
        </el-header>
        <el-container>
            <el-aside width="220px">
                <el-row class="tac">
                    <el-col :span="24">
                        <h5 style="height: 30px; ">
                            <li class="el-icon-menu "  style="font-size: 30px"></li>
                        </h5>
                        <el-menu
                                default-active="1"
                                class="el-menu-vertical-demo"
                                @open="handleOpen"
                                @close="handleClose">
<!--                            <el-menu-item v-for="menu in menuList" :index="menu.path">-->
<!--                                <i  class="fa" :class="menu.icon"></i>-->
<!--                                <span slot="title" style="font-size: 20px">{{menu.title}}</span>-->
<!--                            </el-menu-item>-->
                            <el-submenu v-for="menu in menuList" :index="menu.path" >
                                <template slot="title" style="font-size: 16px">
                                    <i  :class="menu.icon"></i>
                                    <span>{{menu.title}}</span>
                                </template>
                                <el-menu-item-group v-for="child in menu.children">
                                    <el-menu-item :index="child.path">
                                        <a :href="child.linkUrl" target="right">{{child.title}}</a>
                                        </el-menu-item>
<!--                                    <el-menu-item index="2-2">发布商品</el-menu-item>-->
<!--                                    <el-menu-item index="2-3">成为卖家</el-menu-item>-->
                                </el-menu-item-group>
                            </el-submenu>

<!--                            <el-menu-item index="3" >-->
<!--                                <i class="el-icon-document"></i>-->
<!--                                <span slot="title">论坛广场</span>-->
<!--                            </el-menu-item>-->
<!--                            <el-menu-item index="4">-->
<!--                                <i class="el-icon-phone-outline"></i>-->
<!--                                <span slot="title">联系我们</span>-->
<!--                            </el-menu-item>-->
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-container>
<!--                <el-main>Main-->

<!--                </el-main>-->
                <iframe name="right" class="el-main" src="checkgroup.html" width="100%" height="748px"></iframe>
            </el-container>
        </el-container>
    <el-container>
        <el-footer style="height: 120px">Footer</el-footer>
    </el-container>
    </el-container>
</div>

    <script>
        new Vue({
           el : '#app',
          data : {
              menuList : [
                  {
                      "path": "1",
                      "title": "首页",
                      "icon":"",
                      "children": []
                  },
                  {
                      "path": "2",
                      "title": "我要卖货",
                      "icon":"el-icon-goods",
                      "linkUrl": "",
                      "children": [
                          {
                              "path": "2.1",
                              "title": "卖货中心",
                              "icon":"",
                              "linkUrl": "",
                              "children": []
                          },
                          {
                              "path": "2.2",
                              "title": "发布商品",
                              "icon":"",
                              "linkUrl": "",
                              "children": []
                          },
                          {
                              "path": "2.3",
                              "title": "成为卖家",
                              "icon":"",
                              "linkUrl": "",
                              "children": []
                          },
                      ]
                  },
                  {
                      "path": "3",
                      "title": "论坛广场",
                      "icon":"el-icon-document",
                      "linkUrl": "",
                      "children": []
                  },
                  {
                      "path": "4",
                      "title": "联系我们",
                      "linkUrl": "",
                      "icon":"el-icon-phone-outline",
                      "children": []
                  },
              ]
          },
        });
    </script>
</body>
</html>