<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品展示</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id = "app">
    <el-col>
        <el-col :span="4">
        <el-input v-model="searchData" placeholder="请输入内容"></el-input>
        </el-col>
        <el-col :span="18" style="margin-left: 10px;margin-bottom: 10px">
            <el-button icon="el-icon-search" circle @click="mySearch"></el-button>
        </el-col>
    </el-col>
    <el-col  style="box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.1)" v-for="showData in showDataes">
    <el-col :span="7" >
        <el-col :span="11">
            <div>
                <img src="../img/user1-128x128.jpg" width="200" height="188px">
            </div>
        </el-col>
        <el-col :span="10" >
            <h3>商品信息</h3>
            <div style="margin-top: 20px"><span>商品名称:</span><span style="margin-left: 10px">{{showData.goodsName}}</span>
            <p><span >商品类型:</span><span style="margin-left: 10px">{{showData.goodsType}}</span></p>
            <p><span>上市时间:</span><span style="margin-left: 10px">{{showData.goodsTime}}</span></p>
            </div>
        </el-col>
    </el-col>
    <el-col :span="3" >
        <h3>价格</h3>
        <h1>{{showData.goodsPrice}}<span>￥</span></h1>
    </el-col>
    <el-col :span="5">
            <h3>商家信息</h3>
            <div style="margin-top: 20px"><span>商家名称:</span><span style="margin-left: 10px">{{showData.merchantsName}}</span>
                <p><span >商家地址:</span><span style="margin-left: 10px">{{showData.merchantsLocation}}</span></p>
                <el-col :span="5">用户评价:</el-col>
                <el-rate
                        v-model="showData.merchantsStar"
                        disabled
                        show-score
                        text-color="#ff9900"
                        score-template="{value}">
                </el-rate>
            </div>
        </el-col>
        <el-col :span="5">
            <h3>平台保障</h3>
            <div style="margin-top: 20px"><span>商家名称:</span><span style="margin-left: 10px">{{showData.merchantsName}}</span>
                <p><span >商家地址:</span><span style="margin-left: 10px">{{showData.merchantsLocation}}</span></p>
                <el-col :span="5">用户评价:</el-col>
                <el-rate
                        v-model="showData.merchantsStar"
                        disabled
                        show-score
                        text-color="#ff9900"
                        score-template="{value}">
                </el-rate>
            </div>
        </el-col>
        <el-col :span="3">
            <h3 style="text-align: center">是否购买</h3>
            <div style="margin-top: 45px;text-align: center">
                <a :href="showData.goodsLinkUrl" target="right"><el-button type="primary" round>查看</el-button></a>
                <el-button type="primary" round @click="buyWay(showData.goodsId,showData.goodsName,showData.goodsPrice)">购买</el-button>
            </div>
        </el-col>
    </el-col>

<!--        购买弹窗-->
        <div class="checkout" >
            <el-dialog   title="购买信息" :visible.sync="dialogFormVisible" width="30%" class="el-dialog--center">
                <el-card class="box-card">
                    <div slot="header" style="text-align: center">
                        <span>{{order.goodsName}}</span>
                    </div>
                    <div>
                        <el-col :span="4"><span style="line-height: 40px">商品价格:</span></el-col>
                        <el-col :span="20"><span style="line-height: 40px">{{order.goodsPrice}}</span><span style="line-height: 40px">￥</span></el-col>
                    </div>
                    <div style="margin-bottom: 20px; height: 40px;">
                        <el-col :span="4"><span style="line-height: 40px">收货地址:</span></el-col>
                        <template>
                            <el-select v-model="value" placeholder="请选择收货地址">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                    <el-col>
                        <div style="margin-bottom: 15px; margin-top: 10px">
                            <el-col :span="4"><span style="line-height: 40px">电话号码:</span></el-col>
                            <el-col :span="20"><el-input v-model="telephonenumber" placeholder="请输入电话号码"></el-input></el-col>
                        </div>
                    </el-col>
                    <el-col style="margin-bottom: 10px; margin-top: 10px">
                        <el-col :span="4" ><span style="line-height: 40px">购买数量:</span></el-col>
                        <el-col :span="15">
                            <template>
                                <el-input-number v-model="num" @change="handleChange(order.goodsPrice)" :min="1" :max="10" label="描述文字"></el-input-number>
                            </template>
                        </el-col>
                    </el-col>
                    <el-col style="margin-bottom: 10px; margin-top: 10px">
                        <el-col :span="5"><span>购买运费险:</span></el-col>
                        <el-col :span="16">
                            <el-switch
                                    v-model="isTransport"
                                    active-text="运费险"
                                    @change="addTransport(order.goodsPrice)">
                            </el-switch>
                        </el-col>
                    </el-col>
                    <el-col>
                        <el-col offset="9"><h3>总金额:<span style="margin-left: 15px" v-model="totalPrice">{{totalPrice}}</span>￥</h3></el-col>
                    </el-col>
                </el-card>
                <div style="text-align: center; margin-top: 20px"><el-button type="primary" round class="btn-primary" @click="confirmBuy">确认购买</el-button></div>
            </el-dialog>
        </div>

<el-col style="margin-top: 15px">
        <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-size="100"
                layout="prev, pager, next, jumper"
                :total="1000">
        </el-pagination>
    </div>
    </el-col>

</div>


<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data : {
            showDataes : [{
                "goodsId" : "123",
                "goodsName" : "葫芦娃",
                "goodsPrice":"100",
                "goodsType" : "家具",
                "goodsTime" : "2022.11.27",
                "merchantsName":"葫芦娃家具旗舰店",
                "merchantsLocation" : "广西贵港市港北区",
                "merchantsStar" : "4.7",
                "goodsLinkUrl": "maininfo.html?goodsId=123",//后台处理
            },
                {
                    "goodsId" : "124",
                    "goodsName" : "葫芦娃",
                    "goodsPrice":"100",
                    "goodsType" : "家具",
                    "goodsTime" : "2022.11.27",
                    "merchantsName":"葫芦娃家具旗舰店",
                    "merchantsLocation" : "广西贵港市港北区",
                    "merchantsStar" : "4.7",
                    "goodsLinkUrl": "maininfo.html?goodsId=123",
                },
                {
                    "goodsId" : "125",
                    "goodsName" : "葫芦娃",
                    "goodsPrice":"100",
                    "goodsType" : "家具",
                    "goodsTime" : "2022.11.27",
                    "merchantsName":"葫芦娃家具旗舰店",
                    "merchantsLocation" : "广西贵港市港北区",
                    "merchantsStar" : "4.7",
                    "goodsLinkUrl": "maininfo.html?goodsId=123",
                },
                {
                    "goodsId" : "126",
                    "goodsName" : "葫芦娃",
                    "goodsPrice":"100",
                    "goodsType" : "家具",
                    "goodsTime" : "2022.11.27",
                    "merchantsName":"葫芦娃家具旗舰店",
                    "merchantsLocation" : "广西贵港市港北区",
                    "merchantsStar" : "4.7",
                    "goodsLinkUrl": "maininfo.html?goodsId=123",
                },],
            order:{
                "goodsId":"",
                "goodsPrice" : "",
                "telephonenumber" : "",
                // "myLocation" : "",
                "totalPrice" : "",

                "isTransport":"",
            },
            currentPage: 5,
            dialogFormVisible:false,
            num : 1,
            telephonenumber : "",
            transportFare:0,
            totalPrice : 0,
            isTransport : false,
            searchData : '',
            options: [{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }, {
                value: '选项3',
                label: '蚵仔煎'
            }, {
                value: '选项4',
                label: '龙须面'
            }, {
                value: '选项5',
                label: '北京烤鸭'
            }],
            input: '',
        },
            methods: {
                handleChange(goodsPrice){
                    this.totalPrice = this.num * goodsPrice + this.transportFare;
                },
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                },
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                },
                addTransport(goodsPrice){
                    if (this.isTransport) {
                        this.transportFare = 2.5;
                    } else {
                        this.transportFare = 0;
                    }
                    this.totalPrice = this.num * goodsPrice + this.transportFare;
                    this.order.totalPrice = this.totalPrice
                },
                buyWay(goodsId,goodsName,goodsPrice){
                    this.dialogFormVisible = true;
                    this.order.goodsPrice=goodsPrice;
                    this.order.goodsName=goodsName;
                    this.order.goodsId=goodsId;
                    this.totalPrice = this.num * goodsPrice + this.transportFare;
                    this.order.totalPrice = this.totalPrice
                },
                confirmBuy(){
                  alert(this.order.goodsId);
                    alert(this.order.goodsName);
                    alert(this.order.totalPrice);
                    this.order.telephonenumber=this.telephonenumber;
                    alert(this.order.telephonenumber);
                    this.order.isTransport=this.isTransport;
                    alert(this.order.isTransport);
                    alert(a);
                },
                mySearch(){

                },
            }
    });
</script>
</body>
</html>