<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
    </head>
<!--    <style>-->
<!--        .text {-->
<!--            font-size: 14px;-->
<!--        }-->

<!--        .item {-->
<!--            margin-bottom: 18px;-->
<!--        }-->

<!--        .clearfix:before,-->
<!--        .clearfix:after {-->
<!--            display: table;-->
<!--            content: "";-->
<!--        }-->
<!--        .clearfix:after {-->
<!--            clear: both-->
<!--        }-->

<!--        .box-card {-->
<!--            width: 480px;-->
<!--        }-->
<!--    </style>-->
    <body >
        <div id="app">

            <div class="update-password" >
                <el-dialog   title="购买信息" :visible.sync="dialogFormVisible" width="30%" class="el-dialog--center">
                    <el-card class="box-card">
                        <div slot="header" style="text-align: center">
                            <span>卡片名称</span>
                        </div>
                        <div style="margin-bottom: 20px; height: 40px">
                            <el-col :span="4"><span style="line-height: 40px">收货地址:</span></el-col>
                            <template>
                            <el-select v-model="value" placeholder="请选择">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                        </div>
                        <div style="margin-bottom: 15px; margin-top: 10px">
                            <el-col :span="4"><span style="line-height: 40px">电话号码:</span></el-col>
                            <el-col :span="11"><el-input v-model="telephonenumber" placeholder="请输入内容"></el-input></el-col>
                        </div>
                        <div style="margin-bottom: 20px">
                            <el-col :span="6" ><span style="line-height: 40px">数量:</span></el-col>
                            <el-col :span="15" >
                                <template>
                                    <el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
                                </template>
                            </el-col>
                        </div>
<!--                        <div v-for="o in 4" :key="o" style="margin-bottom: 20px">-->
<!--                            {{'列表内容 ' + o }}-->
<!--                        </div>-->
                    </el-card>
                    <div style="text-align: center; margin-top: 20px"><el-button type="button" class="btn-primary">确认购买</el-button></div>

                </el-dialog>
            </div>



        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                dialogFormVisible: true,
                        options: [{
                            value: '选项1',
                            label: '黄金糕'
                        }, {
                            value: '选项2',
                            label: '双皮奶'
                        }, {
                            value: '选项3',
                            label: '蚵仔煎'
                        }, {
                            value: '选项4',
                            label: '龙须面'
                        }, {
                            value: '选项5',
                            label: '北京烤鸭'
                        }],
                input: '',
            }
        });
    </script>
</html>
