<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<!--        <link rel="stylesheet" href="../css/style.css">-->
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
    </head>
    <body >
        <div id="app">
            <div class="checkout" >
                <el-dialog   title="购买信息" :visible.sync="dialogFormVisible" width="30%" class="el-dialog--center">
                    <el-card class="box-card">
                        <div slot="header" style="text-align: center">
                            <span>商品名称</span>
                        </div>
                        <div>
                            <el-col :span="4"><span style="line-height: 40px">商品价格:</span></el-col>
                            <el-col :span="20"><span style="line-height: 40px">{{price}}</span><span style="line-height: 40px">￥</span></el-col>
                        </div>
                        <div style="margin-bottom: 20px; height: 40px;">
                            <el-col :span="4"><span style="line-height: 40px">收货地址:</span></el-col>
                            <template>
                            <el-select v-model="value" placeholder="请选择收货地址">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                        </div>
                        <el-col>
                        <div style="margin-bottom: 15px; margin-top: 10px">
                            <el-col :span="4"><span style="line-height: 40px">电话号码:</span></el-col>
                            <el-col :span="20"><el-input v-model="telephonenumber" placeholder="请输入电话号码"></el-input></el-col>
                        </div>
                        </el-col>
                        <el-col style="margin-bottom: 10px; margin-top: 10px">
                            <el-col :span="4" ><span style="line-height: 40px">购买数量:</span></el-col>
                            <el-col :span="15">
                                <template>
                                    <el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
                                </template>
                            </el-col>
                        </el-col>
                        <el-col style="margin-bottom: 10px; margin-top: 10px">
                            <el-col :span="4"><span>购买运费险:</span></el-col>
                        <el-col offset="1" :span="16">
                            <el-switch
                                    v-model="value1"
                                    active-text="运费险"
                                    @change="addTransport">
                            </el-switch>
                        </el-col>
                        </el-col>
                        <el-col>
                            <el-col offset="9"><h3>总金额:<span style="margin-left: 15px" >{{num*price+transportFare}}</span>￥</h3></el-col>
                        </el-col>
                    </el-card>
                    <div style="text-align: center; margin-top: 20px"><el-button type="primary" round class="btn-primary">确认购买</el-button></div>
                </el-dialog>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data: {
                dialogFormVisible: true,
                num: 1,
                price:999,
                transportFare:0,
                telephonenumber:'',
                value1: false,
                        options: [{
                            value: '选项1',
                            label: '黄金糕'
                        }, {
                            value: '选项2',
                            label: '双皮奶'
                        }, {
                            value: '选项3',
                            label: '蚵仔煎'
                        }, {
                            value: '选项4',
                            label: '龙须面'
                        }, {
                            value: '选项5',
                            label: '北京烤鸭'
                        }],
                input: '',
            },
            methods : {
                addTransport(value1){
                    // alert(value1);
                    if (value1){
                        this.transportFare=2.5;
                    } else {
                        this.transportFare=0;
                    }
                }
            }
        });
    </script>
</html>
