<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<!--        <link rel="stylesheet" href="../css/style.css">-->
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
    </head>
    <body class="hold-transition">
        <div id="app" >
            <el-col :span="20" :offset="2" >
                <el-col :span="24" align="center" style="font-size: 30px; height: 60px;line-height: 60px">
                    <div>商品展示</div>
                </el-col>
                <el-col>
                <template>
                    <el-carousel :interval="4000" type="card" height="300px" >
                        <el-carousel-item  v-for="picture in imgData.img" ><!--！！！！！！！！！！！！！！！-->
                            <img :src="picture">
                        </el-carousel-item>
                    </el-carousel>
                </template>
            <el-collapse v-model="activeNames" @change="handleChange">
                <el-collapse-item title="假一赔四" name="1">
                    <div>{{infoData.name}}</div>
                </el-collapse-item>
                <el-collapse-item title="退货运费险" name="2">
                    <div>{{infoData.type}}</div>
                </el-collapse-item>
                <el-collapse-item title="极速退款" name="3">
                    <div>{{infoData.description}}</div>
                </el-collapse-item>
                <el-collapse-item title="七天无理由退款" name="4">
                    <div>{{infoData.location}}</div>
                </el-collapse-item>
            </el-collapse>

            <el-row >
                <el-col offset="9" :span="4" style="height: 60px; font-size: 30px; line-height: 60px; text-align: center">
                    价格:<span >{{infoData.price}}</span><span>￥</span>
                </el-col>
                <el-col offset="10" :span="4" >
                    <el-row>
                        <el-button type="primary" round  style="height: 60px; width: 120px; font-size: 25px;margin-bottom: 20px" @click="buyWay">购买</el-button>
                    </el-row>
                </el-col>
            </el-row>
                </el-col>
                <el-col  :span="2" offset="3" style="margin-top: 10px">
                    <div style="text-align: right">免责声明：</div>
                </el-col>
                <el-col :span="18" class="border" style="margin-top: 10px">
                    <div>1.所展示的商品供求信息由买卖双方自行提供，其真实性、准确性和合法性由信息发布人负责。</div>
                    <div>2.买家付款后可与客服联系查看账号最新截图,商品信息真实性由卖家负责。因网易游戏和微信游戏特殊性，商品信息由卖家实时截图提供。</div>
                    <div>3.国家法律规定，未成年人不能参与虚拟物品交易。</div>
                    <div>4.本平台提供的数字化商品根据商品性质不支持七天无理由退货及三包服务。</div>
                </el-col>
            </el-col>

<!--            购买弹窗-->
            <div class="checkout" >
                <el-dialog   title="购买信息" :visible.sync="dialogFormVisible" width="30%" class="el-dialog--center">
                    <el-card class="box-card">
                        <div slot="header" style="text-align: center">
                            <span>{{order.goodsName}}</span>
                        </div>
                        <div>
                            <el-col :span="4"><span style="line-height: 40px">商品价格:</span></el-col>
                            <el-col :span="20"><span style="line-height: 40px">{{order.goodsPrice}}</span><span style="line-height: 40px">￥</span></el-col>
                        </div>
                        <div style="margin-bottom: 20px; height: 40px;">
                            <el-col :span="4"><span style="line-height: 40px">收货地址:</span></el-col>
                            <template>
                                <el-select v-model="value" placeholder="请选择收货地址">
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        </div>
                        <el-col>
                            <div style="margin-bottom: 15px; margin-top: 10px">
                                <el-col :span="4"><span style="line-height: 40px">电话号码:</span></el-col>
                                <el-col :span="20"><el-input v-model="telephonenumber" placeholder="请输入电话号码"></el-input></el-col>
                            </div>
                        </el-col>
                        <el-col style="margin-bottom: 10px; margin-top: 10px">
                            <el-col :span="4" ><span style="line-height: 40px">购买数量:</span></el-col>
                            <el-col :span="15">
                                <template>
                                    <el-input-number v-model="num" @change="handleChange(order.goodsPrice)" :min="1" :max="10" label="描述文字"></el-input-number>
                                </template>
                            </el-col>
                        </el-col>
                        <el-col style="margin-bottom: 10px; margin-top: 10px">
                            <el-col :span="5"><span>购买运费险:</span></el-col>
                            <el-col :span="16">
                                <el-switch
                                        v-model="isTransport"
                                        active-text="运费险"
                                        @change="addTransport(order.goodsPrice)">
                                </el-switch>
                            </el-col>
                        </el-col>
                        <el-col>
                            <el-col offset="9"><h3>总金额:<span style="margin-left: 15px" v-model="totalPrice">{{totalPrice}}</span>￥</h3></el-col>
                        </el-col>
                    </el-card>
                    <div style="text-align: center; margin-top: 20px"><el-button type="primary" round class="btn-primary" @click="confirmBuy">确认购买</el-button></div>
                </el-dialog>
            </div>
        </div>
    </body>

    <script>
        var info=window.location.search;
        var id = "";
        var arr = info.split(/[?,=,&]/);
        for(var i=0; i < arr.length; i++){
            if (arr[i] == "goodsId"){
                id = arr[++i];
            }
        }
        var vue = new Vue({
            el: '#app',
            data:{
                dialogFormVisible:false,
                num : 1,
                telephonenumber : "",
                transportFare:0,
                totalPrice : 0,
                isTransport : false,
                order:{
                    "goodsId": id,
                    "goodsPrice" : "100",
                    "telephonenumber" : "",
                    "myLocation" : "",
                    "totalPrice" : "",
                    "isTransport":"",
                },
                infoData:{
                    "name":"迷你电脑",
                    "type":"电脑",
                    // "pictures":["../img/photo1.png","../img/photo2.png","../img/photo3.jpg","../img/photo4.jpg"],
                    goodsImg : [''],
                    "price":"2000",
                    "location":"广西壮族自治区贵港市港北区",
                    "description":"据场景可给予用户操作建议或安全提示，但不能代替用户进行决策,用户可以自由的进行操作，包括撤销、回退和终止当前操作等"
                },
                imgData:[{
                    userId : "",
                    goodsId : "",
                    img : ""
                }]
            },
            created(){//从后端中获取图片信息
                axios.get("/function/getMainInfo").then((res)=>{
                    if (res.data.flag){
                        this.imgData = res.data.data
                        this.$message.success(res.data.message)
                        alert(this.imgData[1].img)
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
            methods :{
                buyWay(goodsId,goodsName,goodsPrice){
                    this.dialogFormVisible = true;
                    this.order.price=goodsPrice;
                    this.order.goodsName=goodsName;
                    // this.order.goodsId=goodsId;
                    this.totalPrice = this.num * goodsPrice + this.transportFare;
                    this.order.totalPrice = this.totalPrice
                },
                confirmBuy(){
                    alert(this.order.goodsId);
                    alert(this.order.goodsName);
                    alert(this.order.totalPrice);
                    this.order.telephonenumber=this.telephonenumber;
                    alert(this.order.telephonenumber);
                    this.order.isTransport=this.isTransport;
                    alert(this.order.isTransport);
                    alert(a);
                },
                addTransport(goodsPrice){
                    if (this.isTransport) {
                        this.transportFare = 2.5;
                    } else {
                        this.transportFare = 0;
                    }
                    this.totalPrice = this.num * goodsPrice + this.transportFare;
                    this.order.totalPrice = this.totalPrice
                },
            }
        });
    </script>
</html>
