<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="../css/style.css">-->
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
</head>
<style>
    .el-textarea__inner {
        line-height: 4;
    }
    .cell {
        padding-left: 10px;
        font-size: 20px;
        text-align: center;
    }
</style>
<body>
<h1 align="center">个人中心</h1>
<div id="app">

        <el-col :span="6">
            <div class="grid-content bg-purple" >
            <img :src="myHeadshot" style="width: 300px;height: 300px;background-color: #0abdfe;border-radius: 150px;margin-bottom: 15px">
            </div>
            <el-col offset="6">
<!--                action访问后端控制器-->
<!--                更换头像-->
                <el-upload
                        class="upload-demo"
                        action="/user"
                        :on-success="uploadSuccess"
                        :before-upload="check"
                        :show-file-list="false"
                        :limit="1"
                        :on-exceed="handleExceed">
                    <el-button size="middle" type="primary">更换头像</el-button>
                </el-upload>
            </el-col>
            <el-col style="margin-top: 20px">
                <el-col :span="10" offset="4">
                    <el-card shadow="hover">
                        我的账户余额:<el-input v-model="account" style="margin-top: 10px" disabled=""></el-input>
                        <el-col :span="6" offset="12"><el-button type="primary" class="btn" style="margin-top: 10px;margin-bottom: 10px">充值</el-button></el-col>
                    </el-card>
                </el-col>
            </el-col>
        </el-col>

        <el-col :span="18">
            <div class="grid-content bg-purple">
                <template>
                    <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
<!--                        个人信息-->
                        <el-tab-pane label="个人信息" class="el-icon-user" name="first">
                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                            <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                <span>用户名:</span>
                            </el-col>
                            <el-col :span="6">
                                <el-input size="small" type="text" value="11111" disabled/>
                            </el-col>
                            </el-col>

                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                                <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                    <span>性别:</span>
                                </el-col>
                                <el-col :span="6">
                                    <el-input size="small" type="text" value="11111" disabled/>
                                </el-col>
                            </el-col>
                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                                <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                    <span>地址:</span>
                                </el-col>
                                <el-col :span="6">
                                    <el-input size="small" type="text" value="男" disabled/>
                                </el-col>
                            </el-col>
                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                                <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                    <span>电话:</span>
                                </el-col>
                                <el-col :span="6">
                                    <el-input size="small" type="text" value="男" disabled/>
                                </el-col>
                            </el-col>
                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                                <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                    <span>生日:</span>
                                </el-col>
                                <el-col :span="6">
                                    <el-input size="small" type="text" value="2001-11-11" disabled/>
                                </el-col>
                            </el-col>
                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                                <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                    <span>邮箱:</span>
                                </el-col>
                                <el-col :span="6">
                                    <el-input size="small" type="text" value="43856724372@qq.com" disabled/>
                                </el-col>
                            </el-col>
                            <el-col :span="24" style="margin-bottom: 10px;margin-top: 10px">
                                <el-col :span="3"  style="font-size: 16px;text-align: right;line-height: 32px" >
                                    <span>个人简介:</span>
                                </el-col>
                                <el-col :span="14">
                                    <el-input  type="textarea" placeholder="请输入内容"   maxlength="30" show-word-limit disabled></el-input>
                                </el-col>
                            </el-col>
                        </el-tab-pane>
<!--                        我发布的-->
                        <el-tab-pane label="我发布的" name="second">
                            <template >
                                <el-table
                                        :data="tableData"
                                        border
                                        style="width: 100%;height: 100%">
                                    <el-table-column
                                            prop="date"
                                            label="日期"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="商品名称"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="type"
                                            label="商品类型"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="number"
                                            label="数量"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="price"
                                            label="价格"
                                            width="180">
                                    </el-table-column>
<!--                                    <el-table-column-->
<!--                                            prop="state"-->
<!--                                            label="交易状态"-->
<!--                                            width="150">-->
<!--                                    </el-table-column>-->
                                    <el-table-column
                                            prop="operation"
                                            label=""
                                            width="180">
                                        <template slot-scope="scope">
                                            <el-button @click="handleClick(scope.row)" type="primary" round class="btn-primary" > 下架 </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block" style="margin-top: 20px">
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage1"
                                            :page-size="5"
                                            layout="total, prev, pager, next, jumper"
                                            :total="40">
                                    </el-pagination>
                                </div>
                            </template>
                        </el-tab-pane>
<!--                        我买到的-->
                        <el-tab-pane label="我买到的" name="third">
                            <template>
                                <el-table
                                        :data="tableData1.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                                        style="width: 100%">
                                    <el-table-column
                                            label="时间"
                                            prop="date"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            label="订单号"
                                            prop="orderNo"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            label="商品名称"
                                            prop="name"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            prop="type"
                                            label="商品类型"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="number"
                                            label="数量"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            prop="price"
                                            label="价格"
                                            width="120">
                                    </el-table-column>
                                    <el-table-column
                                            label="发货地址"
                                            prop="address"
                                            width="300">
                                    </el-table-column>
<!--                                    <el-table-column align="center">-->
<!--                                        <template slot="header" slot-scope="scope">-->
<!--                                            <el-input-->
<!--                                                    v-model="search"-->
<!--                                                    placeholder="输入关键字搜索">-->
<!--                                                <i slot="prefix" class="el-input__icon el-icon-search"></i>-->
<!--                                            </el-input>-->
<!--                                        </template>-->
<!--                                        <template slot-scope="scope">-->
<!--                                            <el-button-->
<!--                                                    size="mini"-->
<!--                                                    type="danger"-->
<!--                                                    @click="handleDelete(scope.$index, scope.row)">删除订单</el-button>-->
<!--                                        </template>-->
<!--                                    </el-table-column>-->
<!--                                    <template slot="footer" slot-scope="scope">-->
<!--                                        <el-input-->
<!--                                                v-model="search"-->
<!--                                                size="small"-->
<!--                                                placeholder="输入关键字搜索"/>-->
<!--                                    </template>-->
                                </el-table>
                            </template>

                        </el-tab-pane>
<!--                        我卖出的-->
                        <el-tab-pane label="我卖出的" name="fourth">
                            <template>
                                <el-table
                                        :data="tableData2"
                                        style="width: 100%"
                                        max-height="400">
                                    <el-table-column
                                            fixed
                                            prop="date"
                                            label="日期"
                                            width="160">
                                    </el-table-column>
                                    <el-table-column
                                            prop="buyer"
                                            label="买家"
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="商品名称"
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="number"
                                            label="数量"
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="price"
                                            label="价格"
                                            width="130">
                                    </el-table-column>
                                    <el-table-column
                                            prop="address"
                                            label="买家地址"
                                            width="300">
                                    </el-table-column>
                                    <el-table-column
                                            prop="insurance"
                                            label="运费险"
                                            width="130">
                                    </el-table-column>
<!--                                    <el-table-column-->
<!--                                            fixed="right"-->
<!--                                            label=""-->
<!--                                            width="100">-->
<!--                                        <template slot-scope="scope">-->
<!--                                            <el-button-->
<!--                                                    @click.native.prevent="deleteRow(scope.$index, tableData)"-->
<!--                                                    type="text"-->
<!--                                                    size="small">-->
<!--                                                删除订单-->
<!--                                            </el-button>-->
<!--                                        </template>-->
<!--                                    </el-table-column>-->
                                </el-table>
                            </template>

                        </el-tab-pane>
                    </el-tabs>
                </template>
            </div>
        </el-col>

    <style>
        .el-row {
            margin-bottom: 20px;
        }
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple {
            background: #d3dce6;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>

    <script>
        new Vue({
            el: '#app',

            data : {
                    account : '100.0',
                    myHeadshot : "../img/user7-128x128.jpg",
                    currentPage1: 1,
                    activeName: 'first',
                    search: '',
                    tableData: [{
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    }, {
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    },{
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    }, {
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    },{
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    },{
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    },{
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    },{
                        date: '2016-05-02',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        state:'已交易'
                    }],
                    tableData1: [{
                        date: '2016-05-02',
                        orderNo:'463874621487325',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄'
                    }, {
                        date: '2016-05-04',
                        orderNo:'463874621487325',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1517 弄'
                    }, {
                        date: '2016-05-01',
                        orderNo:'463874621487325',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1519 弄'
                    }, {
                        date: '2016-05-03',
                        orderNo:'463874621487325',
                        name: '王小虎',
                        type:'游戏',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1516 弄'
                    }],
                    tableData2: [{
                        date: '2016-05-03',
                        buyer:'蓝屏',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }, {
                        date: '2016-05-02',
                        buyer:'孔维',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }, {
                        date: '2016-05-04',
                        buyer:'lanping',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }, {
                        date: '2016-05-01',
                        buyer:'孔维',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }, {
                        date: '2016-05-08',
                        buyer:'孔维',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }, {
                        date: '2016-05-06',
                        buyer:'孔维',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }, {
                        date: '2016-05-07',
                        buyer:'孔维',
                        name: '王小虎',
                        number:'1',
                        price:'100'+'￥',
                        address: '上海市普陀区金沙江路 1518 弄',
                        insurance: '已购买'
                    }],
                // fileList: [{
                //     name: 'food.jpeg',
                //     url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'},
                //     {
                //     name: 'food2.jpeg',
                //     url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}
                // ],

            },
            methods: {
                handleClick(tab, event) {
                    console.log(tab, event);
                },
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                },
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                },
                handleEdit(index, row) {
                    console.log(index, row);
                },
                handleDelete(index, row) {
                    console.log(index, row);
                },
                uploadSuccess(response, file, fileList){
                    // 文件
                    alert(file);
                    // 后端响应的数据
                    alert(response);
                    // 文件列表
                    alert(fileList);
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                },
                beforeRemove(file, fileList) {
                    return this.$confirm(`确定移除 ${ file.name }？`);
                },
                check(file){
                console.log(file);
                }
            }
        });
    </script>

</div>
</body>
</html>